@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply h-full font-sans font-body;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading font-heading;
  }
}

@layer components {
  .glass-morphism {
    @apply backdrop-blur-md bg-white/10 border border-white/20;
  }
  
  .glass-button {
    @apply backdrop-blur-sm bg-white/20 hover:bg-white/30 border border-white/30 transition-all duration-300;
  }
}